/* @media only screen and (min-width: 50px) and (max-width:320px){
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
} */
/* Small screens */
@media only screen and (max-width: 500px) {
    /* CSS rules for small screens go here */
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
  }