@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Fruktur&family=Libre+Baskerville:wght@700&display=swap');
#content {
    max-width: 960px;
    margin: 0 auto;
}

header,
footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

nav a:hover {
    background-color: #708080;
    color: #0D1321
}

h2,
h3 {
    color: #262829;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    font-family: Libre Baskerville;
}

nav a {
    display: block;
    color: #414344;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

nav div {
    flex: 1 1 auto;
}

.link1,
.link2,
.link3,
.link4,
.link5 {
    text-decoration: none;
    padding: 10px;
    color: #16181a;
}

body {
    background-color: #e29714;
    font-family: 'Dongle', Times, serif;
    font-size: 35px;
}

footer {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    font-weight: 700;
    color: #262829;
}

/***********************************************/


/** Media Queries for larger views *************/


/***********************************************/

@media (min-width: 37.5em) {
    nav {
        flex-direction: row;
    }
    nav a {
        font-size: 1.1rem;
    }
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    main picture {
        display: block;
    }
}

@media (min-width: 48em) {
    nav a {
        font-size: 1.3rem;
    }
}