/* @media only screen and (min-width: 400px) and (max-width:600px) {
    main {
        display: grid;
        grid-template-columns: 1fr fr;
        display:inline;
        grid-gap: 1em;   
    }
/* } */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* CSS rules for medium screens go here */
    main {
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
        grid-template-columns: repeat(2, 1fr); 
        display:inline;
        grid-gap: 1em;   
    }
  } */

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    display: block;
    grid-gap: 20px;
  }
  @media only screen and (min-width: 768px){
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      .grid-item:nth-last-child(-n+2) {
        grid-row: 2;
      }
      .grid-item:last-child {
        grid-row: 3;
      }
  }