/* Fonts from Google Fonts - more at https://fonts.google.com */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

#content {
    max-width: 550px;
    margin: 0 auto;
}
body,
header,
main,
ul.nav-menu,
.container {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 110px auto;
    align-items: center;
    background-color: royalblue;
    margin: 0; /* Add this line to remove margin */
    padding: 0;
    
}

.image {
    /* margin: 15px; */
    width: 100%;
}

h1 {
    margin: 12px;
    font-family: 'Fredoka One', cursive, sans-serif;
    color: white;
    
}

h2 {
    font-family: 'Fredoka One', Georgia, sans-serif;
    text-align: left;
}
/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 10px;
	right: 10px;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖";
}
/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "📍 ";
}


.active {
	background-color: gray;
}

/* large view navigation ************************************/
@media (min-width: 37.5em) {
h1 {
    font-size: 2.5rem;
    margin-left: 0;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

#menu {
    display: none; /* hide hamburger button */
}

.nav-menu {
    flex-direction: row;
}

.nav-menu li {
    display: inline-block;
    flex: 1 1 100%;
}
.container-2 {
    justify-content: right;
}

}




#some {
    text-align: left;
    font-family: 'Fredoka One', cursive, sans-serif;
}
 /* Style for the navigation menu */
 ul.nav-menu {
    list-style-type: none;
    padding: 5px;
    background-color: black;
    border-radius: 0; 

}

ul.nav-menu li {
    display: inline-block; 
    margin-right: 10px;
    padding: 10px;
}

ul.nav-menu li a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;

    text-align: center; 
}

ul.nav-menu li a:hover {
    background-color: #555;
}
.container {
    background-color: royalblue;
    color: white;
    padding: 20px;
    border-radius: 5px;
    /* margin: 20px 0;  */
}
.container-2 {
    background-color: royalblue;
    color: white;
    padding: 20px;
    border-radius: 5px;
    /* margin: 20px 0;  */
}

.container h3 {
    margin-top: 0;
}

.card {
display: block;
width: 500px;
height:280px;
padding:10px;
border: 2px solid;
margin:20px;

}
.card-2 {
    display: block;
    width: 500px;
    height:100px;
    padding:10px;
    border: 2px solid;
    margin:20px;
}

h3 {
    color: white;
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Fredoka One', cursive, sans-serif;
}

li {
    margin: 8px 0;
}

a {
    text-decoration: none;
    color: #0074d9;
}

p {
    margin: 8px 0;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}

#last {
    text-align: center;
    font-family: 'Fredoka One', cursive, sans-serif;
}

#demo {
    text-align: center;
    font-family: 'Fredoka One', cursive, sans-serif;
}

.footer {
    background-color: royalblue;
    margin: 0px;
    margin-top: 50px;
    padding: 20px; 
}