/* Fonts from Google Fonts - more at https://fonts.google.com */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

#content {
    max-width: 550px;
    margin: 0 auto;
}
body,
header,
main,
ul.nav-menu,
.container {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 110px auto;
    align-items: center;
    background-color: royalblue;
    margin: 0; /* Add this line to remove margin */
    padding: 0;
    
}

.image {
    margin: 15px;
}

h1 {
    margin: 12px;
    font-family: 'Fredoka One', cursive, sans-serif;
    color: seashell;
    
}

h2 {
    font-family: 'Fredoka One', Georgia, sans-serif;
    text-align: left;
}


#some {
    text-align: left;
    font-family: 'Fredoka One', cursive, sans-serif;
}
 /* Style for the navigation menu */
 ul.nav-menu {
    list-style-type: none;
    padding: 0;
    background-color: black;
    border-radius: 0; 

}

ul.nav-menu li {
    display: block; 
    /* margin-bottom: 10px;  */
}

ul.nav-menu li a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    display: block; 
}

ul.nav-menu li a:hover {
    background-color: #555;
}
.container {
    background-color: royalblue;
    color: white;
    padding: 20px;
    border-radius: 10px;
    /* margin: 20px 0; Add margin to separate containers */
}

.container h3 {
    margin-top: 0;
}

.card {
    padding: 10px;
}

h3 {
    color: #333;
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Fredoka One', cursive, sans-serif;
}

li {
    margin: 8px 0;
}

a {
    text-decoration: none;
    color: #0074d9;
}

p {
    margin: 8px 0;
    font-size: 1rem;
}

#last {
    text-align: center;
    font-family: 'Fredoka One', cursive, sans-serif;
}

#demo {
    text-align: center;
    font-family: 'Fredoka One', cursive, sans-serif;
}

.footer {
    background-color: royalblue;
    /* margin: 0px;
    margin-top: 50px;
    padding: 20px; */
    /* border-radius: 10px 10px 10px 10px; */
    color: seashell;
}

@media screen and (max-width: 550px) {
    .home-grid {
        display: block;
    }
}